body {
    background-color: rgba(164, 156, 156, 0.987);
}

main {
    background-color: #020948; /* Light gray background */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

h2, h3 {
    margin-top: 0.5rem;
}

p, li {
   font-size: 1.2rem;
}

header {
    color: rgb(227, 55, 55);
    margin: 0;
    margin-bottom: 0;
    background-color: #020948;
}

.logo {
    float: right; /* Make the logo float right */
    margin-bottom: 10px; /* Add some space below the logo */
  }
  
  .logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.row .col-md-4 {
    margin-top: 0;
}

.row .col-md-6 {
    margin-top: 0; /* Adjust margin value as needed */
}

/* my background */
.bg-dark {
    background-color: #030b57;
}

.bg-col1 {
    background-color: #f790e8;
}

.bg-col2 {
    background-color: white;
}

.bg-row2 {
    background-color: rgb(37, 139, 134);
    color: white;
}

footer {
   padding: 4px;
}